body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

input[id="orderId"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #a7289f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #218838;
}

#result {
    text-align: left;
    white-space: pre-wrap;
}

.hidden {
    display: none;
}
